.node {
	-fx-background-color: #fff;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-cursor: hand;
	/*-fx-pref-width: 28;
	-fx-pref-height: 28;*/
}

.node:hover {
	-fx-background-color: #ccc;
}